.default{
    width: 100%;
    max-width: 600px;
    left: 0;
    margin: auto;
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 2px;
}

*:focus{
    outline: none;
}